.depth-6-frame-022,
.vector-012 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-6-frame-022 {
  width: 12px;
  height: 13px;
}
.depth-5-frame-017 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-4-frame-09 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.zenihth3 {
  text-decoration: none;
  position: relative;
  line-height: 23px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 72px;
}
.depth-2-frame-02,
.depth-3-frame-02,
.depth-4-frame-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-2-frame-02,
.depth-3-frame-02 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.depth-2-frame-02 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gainsboro-100);
  padding: var(--padding-xs) var(--padding-1117xl) var(--padding-2xs)
    var(--padding-21xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-0);
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-800);
  font-family: var(--font-space-grotesk);
}
.authenticate6 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
}
.depth-4-frame-010 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-base) var(--padding-5xs);
  font-size: var(--font-size-5xl);
}
.to-continue-please {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.depth-4-frame-19 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
}
.authenticate-or-enroll {
  flex: 1;
  position: relative;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.authenticate-or-enroll-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.depth-6-frame-023 {
  width: 152px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-4-frame-24,
.depth-5-frame-018 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.depth-5-frame-018 {
  width: 480px;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-xl);
  min-width: 84px;
  max-width: 480px;
}
.depth-4-frame-24 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
}
.authenticate-with-cebtp {
  align-self: stretch;
  position: relative;
  line-height: 23px;
}
.depth-4-frame-32 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xs);
  font-size: var(--font-size-lg);
}
.cebtp-uses-your {
  white-space: pre-wrap;
}
.learn-more2 {
  font-size: 12px;
}
.cebtp-uses-your-container {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.depth-4-frame-42 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
}
.collecting-eeg-data {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.depth-6-frame-024 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 50px;
  white-space: nowrap;
}
.depth-6-frame-112 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  font-size: var(--font-size-sm);
}
.depth-5-frame-019 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.depth-5-frame-12,
.depth-6-frame-025 {
  border-radius: var(--br-9xs);
  max-width: 100%;
}
.depth-6-frame-025 {
  width: 464px;
  flex: 1;
  background-color: var(--color-gray-200);
}
.depth-5-frame-12 {
  align-self: stretch;
  height: 8px;
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.do-not-move {
  align-self: stretch;
  position: relative;
  line-height: 21px;
}
.depth-4-frame-52,
.depth-5-frame-22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-5-frame-22 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.depth-4-frame-52 {
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.we-will-collect {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.depth-4-frame-6 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
}
.cancel {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.depth-5-frame-020,
.depth-6-frame-026 {
  width: 46px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-5-frame-020 {
  width: 480px;
  border-radius: var(--br-9xs);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-xl);
  box-sizing: border-box;
  min-width: 84px;
  max-width: 480px;
}
.depth-4-frame-7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
}
.depth-2-frame-12,
.depth-3-frame-03,
.depth-4-frame-7 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.depth-3-frame-03 {
  width: 960px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 var(--padding-116xl);
  max-width: 960px;
}
.depth-2-frame-12 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-lgi);
  max-width: 100%;
}
.depth-1-frame-02 {
  align-self: stretch;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-800);
  font-family: var(--font-space-grotesk);
}
.authentication-progress,
.depth-0-frame-02,
.depth-1-frame-02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-0-frame-02 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  min-height: 800px;
  max-width: 100%;
}
.authentication-progress {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .depth-3-frame-03 {
    max-width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .depth-3-frame-03 {
    padding-bottom: 88px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .depth-2-frame-02 {
    padding-right: var(--padding-549xl);
    box-sizing: border-box;
  }
  .depth-5-frame-018,
  .depth-5-frame-020 {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .depth-2-frame-02 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .authenticate6 {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .depth-5-frame-019 {
    flex-wrap: wrap;
  }
}
